@{
    //Wyświetla taki tytuł strony w karcie przeglądarki
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <img class="img-fluid mb-2" src="~/img/photos/main.jpg" />
    <h1 class="display-4">Witaj w naszej aplikacji do zarządzaniem bazą produktów</h1>
    <h2>Stwórz konto i zaloguj się aby skorzystać z funkcji platformy</h2>
</div>
